body {
  overflow: hidden;
  counter-reset: pagecounter;
}

section {
  margin: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  counter-increment: pagecounter;
}

p.pagenum:before {
  content: counter(pagecounter);
}
